*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    text-align: center;
}


/*Header style*/
header{

    position:relative;
    height: 7vh;
    background-color: #78b812;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*Localization Style*/
#language{
    display: inline;
    margin-left: 10vh;
}
#language select{
    width: 6vw;
    height: 4vh;
    color: white;
    background-color: #78b812;
    border: 0;
    outline: none;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    border-radius: 10px;
    box-shadow: 0 0 2px #4d7807;
}

#language select option{
    color: white;
    background-color:  #78b812;
    font-size: 1.1em;
    letter-spacing: 1.5px;
}
#farsi{
     direction: rtl;
}

/*Sign Up and Log In Style*/
#login{
    display: inline;
    margin-right: 10vh;
    background-color: #78b812;
    
}
#login button {
    width: 6vw;
    height: 4vh;
    background-color: #78b812;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #4d7807;
}
#login button a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    letter-spacing: 1.5px;
}


main{
    display: flex;
    flex-direction: column;
}

/* styling for top selling */


.top-selling-title{
    font-size: 2rem;
    padding: 20px;
}

.top-selling{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: space-around; */
}

.top-selling .top-selling-cards{
    background-color: #3ab505;
    width: 25vw;
    height: 70vh;
    /* border: 1px solid red; */
    align-items: center;
    box-shadow: 0px 0px 10px 0px #333;
    border-radius: 10px;
    margin: 10px auto;
      
}

.top-selling .top-selling-cards img{
    width: 99.5%;
    height: 50%;
    /* border: 1px solid green; */
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    border-radius: 10px;
    transition-duration: 3s;
    transition-delay: 0.2s;
}


.top-selling .top-selling-cards img:hover{
    transform: scale(-1,-1);
    border-radius: 15px;
}


.top-selling .top-selling-cards .top-selling-content{
    width: 99%;
    height: 49%;
    margin: 0px auto;
    background-color: #3ab505;
    border-radius: 10px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* .top-selling .top-selling-content p{
    padding: 0px;
    color:  red;
    border: 1px solid saddlebrown;
    
} */


.top-selling .top-selling-cards .top-selling-content .price-name{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    
    /* border: 1px solid red; */
}

.top-selling .top-selling-cards .top-selling-content .sold-stars{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin: 0px 10px;
}







/* sylling for card */



.cards-title{
    font-size: 2rem;
    padding: 20px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px auto;
    margin: 10px;
}



.cards .card{
    max-height: 100vh;
    box-shadow: 0px 0px 6px 0px #333;
    display: flex;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    
}

.cards .card img{
    width: 15vw;
    height: 25vh;
    border-top-left-radius: 10px;
    /*border-bottom-right-radius: 100%;*/ 
    transition-duration: 1s;
}
.cards .card img:hover{
    border-bottom-right-radius: 0px;
    
}
.card .discription{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}



/* user register form  */

.user-register{
    max-width: 40vw;
    max-height: 60vh;
    box-shadow: 0px 0px 10px 0px #333;
    margin: 100px auto;
    border-radius: 10px;
    padding: 10px;
    

}

.user-register form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 3% auto;
    

}

.user-register form input{
    text-align: left;
    padding: 10px;
    margin-top: 10px;
}

.user-register form input:hover{
    border-color: blue;
    
}

.user-register form  button{
    padding: 5px;
    margin-top: 10px;
    width: 6vw;
    background-color:forestgreen;
    color: white;
    font-size: 20px;
}


.footer{

    margin-top: 100px;
    width: 69.2vw;
    padding: 190px 15%;
    background: darkslateblue;
    color: #3ab505;
    display: flex;
    justify-content: space-around;


}
.footer a{

    display: block;
    text-decoration: none;
    color: ghostwhite;
}
.copy{
    background: chartreuse;
    display: flex;
    font-size: smaller;
    justify-content: center;
    height: 5vh;



}
.copy div a i{

    font-size: 1.7em;


}
.copy div{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6vw;
}
.copy p{
   font-size: 1.5em;
   display: flex;
   align-items: center;

}
