*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    text-align: center;
}


/*Header style*/
header{

    position:relative;
    height: 7vh;
    background-color: #78b812;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*Localization Style*/
#language{
    display: inline;
    margin-left: 10vh;
}
#language select{
    width: 6vw;
    height: 4vh;
    color: white;
    background-color: #78b812;
    border: 0;
    outline: none;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    border-radius: 10px;
    box-shadow: 0 0 2px #4d7807;
}

#language select option{
    color: white;
    background-color:  #78b812;
    font-size: 1.1em;
    letter-spacing: 1.5px;
}
#farsi{
     direction: rtl;
}

/*Sign Up and Log In Style*/
#login{
    display: inline;
    margin-right: 10vh;
    background-color: #78b812;
    
}
#login button {
    width: 6vw;
    height: 4vh;
    background-color: #78b812;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #4d7807;
}
#login button a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    letter-spacing: 1.5px;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px auto;
    margin: 10px;

}

.card{
    max-height: 100vh;
    box-shadow: 0px 0px 6px 0px #333;
    display: flex;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    
}

.card img{
    width: 15vw;
    height: 25vh;
    border-top-left-radius: 10px;
    /*border-bottom-right-radius: 100%;*/ 
    transition-duration: 1s;
}
.card img:hover{
    border-bottom-right-radius: 0px;
    
}
.card .discription{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}



/* user register form  */

.user-register{
    max-width: 40vw;
    max-height: 60vh;
    box-shadow: 0px 0px 10px 0px #333;
    margin: 100px auto;
    border-radius: 10px;
    padding: 10px;
    

}

.user-register form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 3% auto;
    

}

.user-register form input{
    text-align: left;
    padding: 10px;
    margin-top: 10px;
}

.user-register form input:hover{
    border-color: blue;
    
}

.user-register form  button{
    padding: 5px;
    margin-top: 10px;
    width: 6vw;
    background-color:forestgreen;
    color: white;
    font-size: 20px;
}

