

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: grid;
    justify-content: center;
    align-content: end;
    min-height: 100vh;
    background: #e8e8e8;
    padding: 50px;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #067000;
}
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .container .sec h2 {
    position: relative;
    color:#fff;
    font-weight: 600;
    margin-bottom: 15px;
}
footer .container .sec p{
    color:#e8e8e8;
}
footer .container .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
footer .container .sci li{
    list-style: none;

}
footer .container .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;

}
footer .container .sci li a i{
    color: #fff;
    font-size: 20px;
}
footer .container .Quicklinks{
    position: relative;
}
footer .container .Quicklinks ul li{
    list-style: none;
}
footer .container .Quicklinks ul li a{
    color:#e8e8e8;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
footer .container .Contactus .info{
    position: relative;
}
footer .container .Contactus .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
footer .container .Contactus .info li span{
    color:#e8e8e8;
    font-size: 20px;
}
footer .container .Contactus .info li a{
    color:bisque;
    text-decoration: none;
}
.copyrightText{
    width: 100%;
    background: #fff;
    padding: 20px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0,0,0,0.15)
}